<div>
  <h1>Sign In</h1>
  <form (ngSubmit)="signIn()" [formGroup]='loginForm' fxLayout='column' fxLayoutAlign="center center">
    <mat-form-field>
      <mat-icon matSuffix>email</mat-icon>
      <input matInput formControlName='email' placeholder="Enter your email...">
    </mat-form-field>
    <!-- <mat-error *ngIf="loginForm.get('email').hasError('required')">Email address is required!</mat-error> -->
    <mat-error *ngIf="loginForm.get('email').hasError('email')">Email is invalid!</mat-error>
    <mat-form-field>
      <mat-icon matSuffix>vpn_key</mat-icon>
      <input matInput formControlName='password' type='password' placeholder="Enter your password..">
    </mat-form-field>
    <!-- <mat-error *ngIf="loginForm.get('password').hasError('password')">Email address is required!</mat-error> -->
    <mat-error *ngIf="loginForm.get('password').hasError('minlength')">Password must be at least 4 characters long!
    </mat-error>
    <button mat-raised-button color='primary' type='submit' [disabled]='loginForm.invalid'>Sign In</button>
  </form>
  <br>
</div>