<!-- <header>
  <mat-toolbar color='primary' fxLayoutGap='20px' row>
    <span routerLink="/home"><mat-icon>home</mat-icon>Tuning Place</span>
    <span class='spacer'></span>
    <a routerLink="/contact">Link 1</a>
    <a routerLink="/home">Link 2</a>
    <a routerLink="/home">Link 3</a>
    <ul fxFlex fxLayout='row' class="navbar-nav mr-auto">
      <li *ngIf="authService.isAuthenticated()" appNavDropdown class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">Shop</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" routerLink="/part/all">All Parts</a>
          <a *ngIf="authService.isAdmin()" class="dropdown-item" routerLink="/part/create">Create Part</a>
        </div>
      </li>
      <li *ngIf="authService.isAuthenticated()" appNavDropdown class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">Store</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" routerLink="/project/all">All Projects</a>
          <a class="dropdown-item" routerLink="/project/user">My Projects</a>
          <a class="dropdown-item" routerLink="/project/create">Create</a>
        </div>
      </li>
    </ul>
    <ul fxLayoutAlign='flex-end' fxFlex fxLayout='row' class="navbar-nav">
      <li *ngIf="!authService.isAuthenticated()" class="nav-item">
        <a class="nav-link" routerLink="/signin">Login</a>
      </li>
      <li *ngIf="!authService.isAuthenticated()" class="nav-item">
        <a class="nav-link" routerLink="/signup">Register</a>
      </li>
      <li *ngIf="authService.isAuthenticated()" class="nav-item">
        <a class="nav-link" routerLink="/order/all">My Orders</a>
      </li>
      <li *ngIf="authService.isAuthenticated()" class="nav-item">
        <a class="nav-link">Welcome, {{username}}</a>
      </li>
      <li *ngIf="authService.isAuthenticated()" class="nav-item">
        <a class="nav-link" (click)="logout()"> Logout</a>
      </li>
    </ul>
  </mat-toolbar>
</header> -->

<mat-toolbar color="primary">
  <div routerLink="/">
    Tuning Place
  </div>
  <div >
    <ul class="leftTool" fxFlex fxLayout="row" fxLayoutGap="20px">
      <li *ngIf="authService.isAuthenticated()">
        <a routerLink="/part/all">All Parts</a>
      </li>
      <li *ngIf="authService.isAdmin()">
        <a routerLink="/part/create">Create Part</a>
      </li>
    </ul>
    <button *ngIf="authService.isAuthenticated()" mat-button [matMenuTriggerFor]="menu">Projects</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/project/all">All Projects</button>
      <button mat-menu-item routerLink="/project/user">My Projects</button>
      <button mat-menu-item routerLink="/project/create">Create Project</button>
    </mat-menu>
  </div>

  <ul fxFlex fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="flex-end">
    <li *ngIf="authService.isAuthenticated()">
      <a routerLink="/order/all">My orders</a>
    </li>
    <li *ngIf="authService.isAuthenticated()">
      <a>Welcome, {{username}}</a>
    </li>
    <li *ngIf="!authService.isAuthenticated()">
      <a routerLink="/signin">Login</a>
    </li>
    <li *ngIf="!authService.isAuthenticated()">
      <a routerLink="/signup">Register</a>
    </li>
    <li *ngIf="authService.isAuthenticated()">
      <a routerLink="#" (click)="logout()">Logout</a>
    </li>
  </ul>
</mat-toolbar>