<!-- <div class="container">
  <div class="row space-top">
    <div class="col-md-12">
      <h1>All Available Parts</h1>
      <p>Select part from the catalog to view details.</p>
    </div>
  </div>
  <div class="row space-top">
    <div class="col-md-4" *ngFor='let p of parts$ | async'>
      <div class="card text-white bg-primary">
        <div class="card-body">
          <blockquote class="card-blockquote">
            <img src="{{p.image}}" />
            <p>{{p.description | slice:0:11}}...</p>
            <footer>Someone famous in
              <cite title="Source Title">Source Title</cite>
            </footer>
            <div class="pull-right">
              <a [routerLink]="['/part/details/', p._id]" class="btn btn-info">Details</a>
            </div>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="container">
    <div class="row space-top">
      <div class="col-md-12">
        <h1>All available parts in store</h1>
        <p>Select part from the catalog to view details.</p>
      </div>
    </div>
    <div class="row space-top">
      <div class="col-md-4" *ngFor='let part of parts$ | async'>
        <app-part-info [part]='part'></app-part-info>
      </div>
    </div>
  </div>