<div fxLayout="column" fxLayoutGap="30px" *ngIf="part">
      <div fxFlex fxLayout="row" fxLayoutGap="180px">
          <div class="left-side">
              <h1>{{part.title}} </h1>
              <div id="image-container">
                  <img src="{{part.image}}">
              </div>
          </div>
          <div fxLayout="column" class="right-side" fxLayouGap="20px">
              <h1 class="center-text">Description</h1>
              <ul>
                  <li>
                      <b>Title:</b>{{part.title}}
                  </li>
                  <li>
                      <b>Model:</b> {{part.model}}
                  </li>
                  <li>
                      <b>Year:</b> {{part.year}}
                  </li>
                  <li>
                      <b>Description:</b> {{part.description}}
                  </li>
                  <li>
                      <b>Price:</b> ${{part.price}}
                  </li>
              </ul>
              <div fxFlex fxLayout="row">
                  <button  mat-raised-button color="primary" (click)='buyPart(partId)'>Buy Item</button>
                  <button *ngIf="authService.isAdmin()" mat-raised-button color="accent" [routerLink]="['/part/edit', partId]">Edit Item</button>
                  <button *ngIf="authService.isAdmin()" mat-raised-button color="warn" (click)='deletePart(partId)'>Delete Item</button>
              </div>
          </div>          
        </div>
        <br>
  </div>