<div id='container'>
  <br>
  <div class='row'>
    <div class='col-lg-4' [@goals]="goals.length">
      <h3>About Us</h3>
      <br>
      <p *ngFor='let goal of goals'>
        {{goal}}
      </p>
    </div>
    <div class='col-lg-4' @explainerAnim>
      <h3>Customer Service</h3>
      <br>
      <div class='col'>
        <h6>
          <mat-icon>phone</mat-icon> Service-Hotline
        </h6>
        <h4>+359 (02)2373 89-1700</h4>
        <p>Monday - Thursday 7.30 - 17.00</p>
        <p>Friday 7.30 - 15.00</p>
        <p>(Bulgaria, Sofia, CET)</p>
      </div>
      <br>
      <div class='col'>
        <h6>
          <mat-icon>local_printshop</mat-icon> Fax number
        </h6>
        <h4>+359 (02)2373 89-1238</h4>
      </div>
      <br>
      <div class='col'>
        <h6>
          <mat-icon>email</mat-icon> E-Mail
        </h6>
        <h4>parts@parts.bg</h4>
      </div>
    </div>
    <div class='col-lg-4'>
      <h3>Location</h3>
      <agm-map [latitude]="lat" [longitude]="lng">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
      </agm-map>
    </div>
  </div>
  <br>
</div>